/* ELEMENTOS GLOBALES */

:root {
    --green-main: #444b3c;
    --logo: #d9d3c7;
    --contrast: #f3d279;

    --header-height: 8vh;

    /* Fuentes */

    --JosefinSans:'Josefin Sans', sans-serif;
    --OpenSans: "Open Sans";
    --RobotoFlex: 'Roboto Flex', sans-serif;

    --Sora: 'Sora', sans-serif;
    --Manrope: 'Manrope', sans-serif;
    --Montserrat: 'Montserrat', sans-serif;

}

html,
body {
    overflow-x: hidden;
    background-color: var(--logo);
    scrollbar-width: none;
    -ms-overflow-style: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.main-content {
    width: 100vw;
    background-color: var(--logo);

    min-height: 100vh;
    height: auto;
}

.contentSection {
    min-height: 60vh;
    background-color: #3a3d33;
    color: var(--logo);
    padding: 8vh 0 10vh;
    position: relative;
}

.contentSection_inner {
    width: 100%;
    min-height: inherit;
}

@media only screen and (max-width: 600px) {
    .contentSection {
        padding: 4vh 0 8vh;
    }
}


/* Header */

header {
    display: flex;

    position: fixed;
    z-index: 9;

    width: 100vw;
    height: var(--header-height);

    background-color: var(--green-main);
    box-shadow: #000000 0px 0px 20px;

    transition: all .5s;


}

.site-header.header-transparent {
    background-color: transparent;
    box-shadow: none;
}

.site-header.header-transparent .nav_container a,
.site-header.header-transparent .nav_bar_responsive {
    color: #f7f3ea;
}

.site-header.header-transparent .logo_header img {
    filter: drop-shadow(0 8px 18px rgba(0, 0, 0, 0.35));
}

.logo_container {
    display: flex;

    width: 25%;
    height: 100%;

    justify-content: center;
    align-items: center;

}

.logo_header {
    height: 100%;
}

.logo_header img {
    height: 100%;
}

.nav_bar {
    display: flex;

    width: 75%;
    height: 100%;

}

.nav_container {
    display: flex;
    flex: 1;
    
    align-items: center;
    justify-content: center;
    text-align: center; 

}

.nav_container a {
    font-size: clamp(0.7rem, 1.2vw, 0.95rem);
    font-weight: 500;
    letter-spacing: 0.18rem;
    text-transform: uppercase;

    font-family: var(--RobotoFlex);
    text-decoration: none;
    color: var(--logo);

    transition: all 0.3s ease;

}

.nav_container a:hover {
    color: var(--contrast);
    text-shadow: 0 0 12px rgba(243, 210, 121, 0.4);
}

.nav_active {
    color: var(--contrast) !important;
    text-shadow: 0 0 12px rgba(243, 210, 121, 0.5);
}

.nav_bar_responsive, nav {
    display: none;
}

/* Estilos de Header RESPONSIVE */

@media only screen and (max-width: 900px) {

    .nav_bar {
        display: none;
    }

    .logo_container {
        width: 100%;
    }

    .nav_bar_responsive {
        display: flex;

        width: 20%;
        height: 100%;

        justify-content: center;
        align-items: center;

        position: absolute;

        margin-left: 80%;

        color: var(--logo);

    }

    .menu_bars {
        width: 50%;
    }


    /* Estilos para barra de navegacion lateral */

    nav {
        display: block;
        position: fixed;

        z-index: 10;

        width: 100vw;
        height: 100vh;

        background-color: var(--green-main);
        
        color:var(--logo);

        left: 100vw;

        transition: .5s all;

    }

    .close_bar_responsive_container {
        display: flex;

        justify-content: right;

        width: 100%;
        height: var(--header-height);

    }

    .close_nav_bar {
        display: flex;

        width: 20%;
        height: 100%;

        justify-content: center;
        align-items: center;



    }

    

    .menu_close {
       width: 60%;
    }

    .nav_bar_container {
        display: block;

        width: 100vw;
        height: calc(100vh - var(--header-height));

    }

    .nav_container_responsive {
        display: flex;

        width: 100%;
        height: 15%;

        justify-content: center;
        align-items: center;

        font-family: "Open Sans";
        

    }

    .nav_element {
        text-decoration: none;
        text-align: center;
        color: var(--logo);

        font-size: 125%;

    }


    }

/* Redimesiona el header dependiendo de height */

    @media only screen and (max-height: 700px) {

    :root {
        --header-height: 70px;

    }
}

/* Barra de navegacion en caso de movil en formato horizontal */

@media only screen and (max-height: 520px) {

    .close_bar_responsive_container {
        position:absolute;

        height: var(--header-height);
        width: 20vw;

        margin-left: 80vw;


    }

    .close_nav_bar {
        
        width: 100%;

    }
    
    .nav_bar_container {
        height: 100vh;
    }
    
    .nav_container_responsive {
        height: 16%;
    }

}

/* Estilos para Footer */

.site-footer {
    position: relative;
    z-index: 5;
    width: 100vw;
    padding: clamp(2.4rem, 4vw, 3.8rem) 6vw;
    background: linear-gradient(180deg, #ddd6c9 0%, #d6cfc2 100%);
    color: #3a3d33;
    border-top: 1px solid rgba(58, 61, 51, 0.15);
    box-shadow: 0 -18px 40px rgba(0, 0, 0, 0.18);
}

.footer_inner {
    display: grid;
    grid-template-columns: 1.2fr 1fr 1fr;
    gap: clamp(1.6rem, 3vw, 3rem);
    align-items: center;
}

.footer_brand {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    text-align: center;
}

.footer_logo {
    width: min(52vw, 260px);
}

.footer_tagline {
    font-family: var(--Montserrat);
    font-size: 0.74rem;
    font-weight: 700;
    letter-spacing: 0.28rem;
    text-transform: uppercase;
    color: rgba(58, 61, 51, 0.75);
}

.footer_column {
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
}

.footer_column_title {
    font-family: var(--Sora);
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 0.18rem;
    color: rgba(58, 61, 51, 0.85);
}

.footer_link {
    display: inline-flex;
    align-items: center;
    gap: 0.7rem;
    font-family: var(--Manrope);
    font-size: 0.98rem;
    color: rgba(58, 61, 51, 0.8);
    text-decoration: none;
    transition: color 0.25s ease, transform 0.25s ease;
}

.footer_link:hover {
    color: #2c2f26;
    transform: translateX(2px);
}

.footer_link_static {
    cursor: default;
}

.footer_link_static:hover {
    color: rgba(58, 61, 51, 0.8);
    transform: none;
}

.footer_icon {
    width: 20px;
    height: 20px;
    opacity: 0.8;
}

.footer_copyright {
    margin-top: clamp(1.6rem, 3vw, 2.4rem);
    font-family: var(--Manrope);
    font-size: 0.78rem;
    letter-spacing: 0.08rem;
    text-transform: uppercase;
    color: rgba(58, 61, 51, 0.55);
    text-align: center;
}

/* Estilos FOOTER RESPONSIVE */
@media only screen and (max-width: 900px) {
    .site-footer {
        padding: 2.5rem 8vw 3rem;
    }

    .footer_inner {
        grid-template-columns: 1fr;
        gap: 2rem;
        text-align: left;
    }

    .footer_logo {
        width: min(70vw, 240px);
    }
}



/* Estilos del banner */

.banner_container {

    width: 100vw;
    height: 70vh;

    background-color: var(--green-main);

    position: relative;


}

.banner_element {
    width: 100vw;
    height: 70vh; 

    filter: brightness(0.5); 

    object-fit:cover;

    position: absolute;

    transition: 1s all;

}


/* Estilos de TITULO */


.tittle_container {
    display: flex;

    align-items: center;
    width: 100vw;
    height: 40vh;
    overflow: hidden;



}

.tittle_elementsContainer {

    
    margin-top: 15vh;

    width: 100%;
    height: 70%;



}

.tittle_element {
    display: flex;

    width: 100%;
    height: 67%;

    justify-content: center;
    align-items: center;


}

.tittle_img {


    height: 80%;

}

.tittle {

    display: flex;

    width: 100%;
    height: 33% ;

    justify-content: center;
    align-items: start;
    text-align: center;

    font-family: var(--JosefinSans);
    font-size: 2.5vh;
    font-weight: 100;



}


@media only screen and (max-width: 480px) {

   

    .tittle_element {

        height: 40%
    };

    .tittle {
        height: 60%;
        
    }

}
