---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Contacto | KO729";
const pageDescription = "// PENDIENTE //";
const pageKeywords = "// PENDIENTE //";

// CSS del boceto (ya debe existir en /public/recursos/)
const pageCss = ["/recursos/contact.css"];

<BaseLayout
  title={pageTitle}
  description={pageDescription}
  keywords={pageKeywords}
  pageCss={pageCss}
>
  <div class="main-content">
    <div class="tittle_container">
      <div class="tittle_elementsContainer">
        <div class="tittle_element">
          <img src="/img/logos/letras.jpg" class="tittle_img" alt="logo" />
        </div>
        <div class="tittle">CONTACTO</div>
      </div>
    </div>

    <div class="contactContainer">
      <div class="contactBox text">
        <div class="textElements">
          <div class="speechContainer">¡Contáctanos y creemos tu hogar perfecto!</div>

          <div class="datosContainer">
            <div class="elementContainer">
              <a href="">
                <img src="/img/icon/instagram.svg" alt="instagram" class="footer_icon" />
                Instagram
              </a>
            </div>

            <div class="elementContainer">
              <a href="">
                <img src="/img/icon/whatsapp.svg" alt="whatsapp" class="footer_icon" />
                Whatsapp
              </a>
            </div>

            <div class="elementContainer">
              <a href="">
                <img src="/img/icon/mail.svg" alt="mail" class="footer_icon" />
                Email
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="contactBox image">
        <div class="contactImg"></div>
      </div>
    </div>
  </div>
</BaseLayout>
